<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Micro Camp Book Store</title>
    <link rel="stylesheet" href="/commons.css">
</head>
<body>
<div th:replace="fragments.html :: menu"></div>
<div id="content">
    <div th:each="book : ${books}" class="book">
        <div th:text="${book.title}" class="title"></div>
        <div th:text="${book.author}" class="author"></div>
        <div th:text="'Cena: ' + ${book.price} + ' zł'" class="price"></div>
        <div th:text="'Zostało ' + ${book.quantity} + ' sztuk'" class="quantity"></div>
    </div>
</div>
</body>
</html>